
<h2>Courses</h2>

<div *ngIf="results">
    <p>Search By Subject</p>
    <input [(ngModel)] = "searchBySubject">
    <br>
    <p>Search By Class Name</p>
    <input [(ngModel)] = "searchByClassName">
    <br>
    <p>Search By Class Code</p>
    <input [(ngModel)] = "searchByClassCode">
    <br>
    <p>Search By Component</p>
    <input [(ngModel)] = "searchByComponent">
    <br>
    <p>Search By Keyword</p>
    <input [(ngModel)] = "searchByKeyword">
    <br>

    <button (click)="clearSearches()">Clear Searches</button>

    <mat-accordion class="accords"  *ngFor="let course of filterResultsByClassCode(
        filterResultsByComponent(
        filterResultsByClassName(
        filterResultsBySubject(
        filterResultsByKeyword(results)))))">
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header [expandedHeight]="'190px'" [collapsedHeight]="'190px'">
            <mat-panel-description>
                Subject:{{course.subject}}
                <br>
                Course Code: {{course.course_code}}
                <br>
                Class Name: {{course.class_name}}
                <br>
                Component: {{course.component}}
                <br>
                Class Section: {{course.class_section}}
                <br>
                Start Time: {{course.start_time}}
                <br>
                End Time: {{course.end_time}}
                <br>
                Days: {{course.days}}
                <br>
                <button class="saveBtn" (click)="addToSavedCourses(course)">Add to Saved Courses</button>
            </mat-panel-description>
        </mat-expansion-panel-header>
        Campus Location: {{course.campus}}
        <br>
        Course Description: {{course.description}}
    </mat-expansion-panel>
</mat-accordion>
</div>
<div *ngIf="!results">
    <p>Loading...</p>
</div>
