li.allSchedules{
    list-style-type: none;
    border: 1px solid black;
    margin-right: 30px;
    text-align: justify;
    background-color: #355C7D;
    color: #F8B195;
    margin: 0 0 10px 0;
}
li.timetable{
    list-style-type: none;
    border: 1px solid black;
    margin-right: 30px;
    text-align: justify;
    background-color: #355C7D;
    color: #F8B195;
    margin: 0 0 10px 0;
}
button.schBtns{
    width: 50%;
    margin: auto;
}