<app-saved-courses [savedCourses]="savedCourses"></app-saved-courses>


<div *ngIf="timetable">
    <h3>Timetable for schedule {{timetableSchName}}</h3>
    <button (click) = "displaySchedules()">Return to Schedules</button>
    <p>Search by Subject</p>
    <input [(ngModel)] = "ttSearchSubject">
    <br>
    <p>Search by Course Code</p>
    <input [(ngModel)] = "ttSearchCode">
    <br>
    <p>Search by Component</p>
    <input [(ngModel)] = "ttSearchComp">
    <ul>
        <li class="timetable" *ngFor="let t of filterByComp(filterByCode(filterBySubject(timetable)))">
            <span>Subject = {{t.subject}}</span>
            <br>
            <span>Course Code = {{t.course_code}}</span>
            <br>
            <span>Component = {{t.component}}</span>
            <br>
            <span>Start Time = {{t.start_time}}</span>
            <br>
            <span>End Time = {{t.end_time}}</span>
            <br>
            <span>Days = {{t.days}}</span>
        </li>
    </ul>
</div>

<div *ngIf="results">
    <h2>Schedules</h2>
<div class="newSchedules">
    <button (click)="createNewSchedule()">Create New Schedule Named: </button>
    <input [(ngModel)] ="newScheduleName">
    <br>
    <div *ngIf="isPublic"><p>The new schedule will be public</p></div>
    <div *ngIf="!isPublic"><p>The new schedule will be private</p></div>
    <button (click)="makePublic()">SetToPublic</button>
    <button (click)="makePrivate()">SetToPrivate</button>
    <br>
    <p>Description for new schedule (optional) :</p><input [(ngModel)] = "description">
</div>
<br>
<button (click)="deleteSchedule()">Delete a Schedule Named: </button>
<input [(ngModel)] ="deleteScheduleName">


    <h3>All Schedules</h3>
    <div *ngIf="results.length ==0">
        <p>There are no schedules made</p>
    </div>
    <mat-accordion class="accords"  *ngFor="let sch of results">
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header [expandedHeight]="'190px'" [collapsedHeight]="'190px'">
                <mat-panel-description>
                    <span>Schedule Name: {{sch.schedule_name}} </span>
                    <br>
                    <span>Schedule Creator: {{sch.username}} </span>
                    <br>
                    <span>Number of courses: {{sch.num_of_courses}} </span>
                    <br>
                    <button class="schBtns" (click)="openTimeTable(sch)">Open Timetable</button>
                    <button class="schBtns" (click)="editSchedule(sch)">Edit Schedule</button>
                </mat-panel-description>
            </mat-expansion-panel-header>
            Classes
            <br>
            <p class="classes" *ngFor="let x of sch.subjects; let i = index">
                Subject: {{sch.subjects[i]}}
                <br>
                Course Code: {{sch.course_codes[i]}}
                <br>
                Component: {{sch.components[i]}}
            </p>
            <p>
                Schedule Description: {{sch.description}}
            </p>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div *ngIf="editing">
    <button (click) = "displaySchedules()">Return to Schedules</button>
    <h3>Editing Schedule {{editing.schedule_name}}</h3>

    <button (click) ="importCourses(editing)">Add saved courses to this schedule</button>
    <!--use "importCourses(sch)" to import new courses to a schedule-->
    <p>Schedule Name : {{editing.schedule_name}}</p>
    <input [(ngModel)] = editing.schedule_name>
    <p>Is Public : {{editing.public}}</p>
    <button (click)="editChangeVisibility()">Change Visibility</button>
    <p>Description : {{editing.description}} </p>
    <input [(ngModel)] = editing.description>
    <div *ngIf="editing.subjects!= 'empty'">
        <p class="forLoop" *ngFor="let x of editing.subjects; index as i">
            <b>course {{i+1}}</b>
            <br>
            Subject : {{editing.subjects[i]}}
            <br>
            CourseCode: {{editing.course_codes[i]}}
            <br>
            Component : {{editing.components[i]}}
            <br>
            <button (click) ="editRemoveCourse(i)">Remove Course</button>
        </p>
    </div>
    <button (click)="editSave()">SaveEdits</button>
</div>