<div *ngIf="users">
    <h3>Users</h3>
    <p class="users" *ngFor="let x of users">
        Username : {{x.user}}
        <br>
        Email : {{x.email}}
        <br>
        Is active : {{x.active}}
        <br>
        Is a site manager : {{x.siteManager}}
        <button (click) = "changeActiveStatus(x)">Change active status</button>
        <button (click) = "changeManagerStatus(x)">Change site manager status</button>
    </p>
</div>
<div *ngIf="reviews">
    <h3>Reviews</h3>
    <p class="users" *ngFor="let x of reviews">
        Username : {{x.user}}
        <br>
        Content : {{x.content}}
        <br>
        Date : {{x.date}}
        <br>
        Hidden Status : {{x.hidden}}
        <button (click) = "changeHiddenStatus(x)">Change active status</button>
    </p>
</div>
<div *ngIf="policies">
    <h3>Security and Privacy policy</h3>
    <p>{{policies.snp}}</p>
    <h3>Acceptable Use Policy</h3>
    <p>{{policies.aup}}</p>
    <h3>DMCA Notic and Takedown Procedure</h3>
    <p>{{policies.dmca}}</p>
</div>