
<h2>Schedules</h2>


<div *ngIf="timetable">
    <h3>Timetable for schedule {{timetableSchName}}</h3>
    <button (click) = "displaySchedules()">Return to Schedules</button>
    <p>Search by Subject</p>
    <input [(ngModel)] = "ttSearchSubject">
    <br>
    <p>Search by Course Code</p>
    <input [(ngModel)] = "ttSearchCode">
    <br>
    <p>Search by Component</p>
    <input [(ngModel)] = "ttSearchComp">
    <ul>
        <li class="timetable" *ngFor="let t of filterByComp(filterByCode(filterBySubject(timetable)))">
            <span>Subject = {{t.subject}}</span>
            <br>
            <span>Course Code = {{t.course_code}}</span>
            <br>
            <span>Component = {{t.component}}</span>
            <br>
            <span>Start Time = {{t.start_time}}</span>
            <br>
            <span>End Time = {{t.end_time}}</span>
            <br>
            <span>Days = {{t.days}}</span>
        </li>
    </ul>
</div>

<div *ngIf="results">
    <h3>All Schedules</h3>
    <div *ngIf="results.length ==0">
        <p>There are no schedules made</p>
    </div>
    <mat-accordion class="accords"  *ngFor="let sch of results">
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header [expandedHeight]="'190px'" [collapsedHeight]="'190px'">
                <mat-panel-description>
                    <span>Schedule Name: {{sch.schedule_name}} </span>
                    <br>
                    <span>Schedule Creator: {{sch.email}} </span>
                    <br>
                    <span>Number of courses: {{sch.num_of_courses}} </span>
                    <br>
                    <button class="schBtns" (click)="openTimeTable(sch)">Open Timetable</button>
                </mat-panel-description>
            </mat-expansion-panel-header>
            Courses: {{sch.course_codes}}
            Description: {{sch.description}}
        </mat-expansion-panel>
    </mat-accordion>
</div>